/AOI.py
/example_screenshot.jpg
/screenshot.jpg
__pycache__
example_screensho.jpg
/test.py
va.py
zeno.py
output.py
transformed_data.py
output9.py
outputaa.py
setup.py
t2t.py
zenova.log
zenovaa.py
.env
sol.py
